[user]
    name = takanamito
    email = takanamito0928@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[push]
    default = simple
[pull]
    rebase = true
[ghq]
    root = /Users/takanamito/.go/src
    root = /Users/takanamito/ghq
[alias]
    # マージ済みのブランチを消す
    delete-merged-branch = !git branch --merged | egrep -v '\\*|main|master|development' | xargs git branch -d
